<div id="artists" class="container">
  <h2 class="artists-header">Artists</h2>
  <h3 class="artists-subheader">Explore Your New Favorite Artists</h3>

  <ul class="artists-list-js artists-list"></ul>
  <button class="artists-load-js artists-load-more">
    Load more
    <span class="artist-svg">
      <svg
        width="14"
        height="15"
        viewBox="0 0 14 15"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M13.707 7.60055L12.293 6.18655L7.99997 10.4796V0.893555H5.99997V10.4796L1.70697 6.18655L0.292969 7.60055L6.99997 14.3076L13.707 7.60055Z"
          fill="white"
        />
      </svg>
    </span>
  </button>
  <div class="artist-loader-js artist-loader"><p></p></div>
</div>
