
    <link rel="stylesheet" href="https://unpkg.com/swiper@11/swiper-bundle.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/raty/3.1.1/jquery.raty.css" />
    <link rel="stylesheet" href="./feedback.css" />

    <div class="feedbacks" id="feedbacks">
        <h2 class="visually-hidden">Feedbacks of our visitors</h2>
        <button class="btn btn--prev" id="prevBtn" aria-label="Previous feedback" title="Previous">
            <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"
                aria-hidden="true">
                <path d="M15 18l-6-6 6-6" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round" />
            </svg>
        </button>
        <button class="btn btn--next" id="nextBtn" aria-label="Next feedback" title="Next">
            <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"
                aria-hidden="true">
                <path d="M9 6l6 6-6 6" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round" />
            </svg>
        </button>
        <div class="swiper" id="feedbacks-swiper">
            <div class="swiper-wrapper" id="slides"></div>
        </div>
        <div class="dots" aria-label="Feedbacks pagination" role="tablist">
            <span class="dot" data-kind="first" role="tab" aria-selected="false"></span>
            <span class="dot" data-kind="middle" role="tab" aria-selected="false"></span>
            <span class="dot" data-kind="last" role="tab" aria-selected="false"></span>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/raty/3.1.1/jquery.raty.min.js"></script>
    <script src="https://unpkg.com/swiper@11/swiper-bundle.min.js"></script>
    <script src="../js/feedback.js"></script>
