<div class="container">
  <h2 class="visually-hidden">Feedbacks our visitors</h2>

  <section class="feedback-section">
    <div id="loader" class="loader-feedback">Loading...</div>

    <div class="swiper feedback-swiper">
      <div class="swiper-wrapper">
        <!-- Сюда JS добавит отзывы -->
      </div>

      <!-- кнопки -->
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>

      <!-- пагинация -->
      <div class="custom-pagination">
        <!-- точки будем рисовать через JS -->
      </div>
    </div>
  </section>
</div>

<div id="feedback" class="notification"></div>

<!-- подключение Swiper -->
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
