 <div class="header-container">
    <a href="/" class="logo">
      
      <img src="/img/logo.svg" alt="ArtistsHub" />
    
    </a>
    
    <input type="checkbox" id="menu-toggle" class="menu-toggle" />

       <label for="menu-toggle" class="burger">
      <span></span>
      <span></span>
      <span></span>
    </label>

    <nav class="nav">
      <ul class="nav-list">
        <li><a href="#artists">Artists</a></li>
        <li><a href="#about">About Us</a></li>
        <li><a href="#reviews">Reviews</a></li>
      </ul>
    </nav>
  </div>



