 <div class="header-container">
    <a href="#header-section" class="logo">
     <img src="/img/logo.svg" alt="ArtistsHub" />
    </a>
    
    <input type="checkbox" id="menu-toggle" class="menu-toggle" />
       <label for="menu-toggle" class="burger">
      <span></span>
      <span></span>
      <span></span>
    </label>

    <nav class="nav">
      <ul class="nav-list">
        <li><a href="#artists-section">Artists</a></li>
        <li><a href="#about-us-section">About Us</a></li>
        <li><a href="#feedback-section">Reviews</a></li>
      </ul>
    </nav>
  </div>



