body {
  font-family: 'IBM Plex Sans', sans-serif;
  color: #fff;
  background-color: #060307;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.footer {
  padding: 48px 16px;
  background-color: #060307;
}

.footer-container {
  margin: auto;
}

.footer-logo-and-text {
  margin-right: 0px;
  padding-bottom: 48px;
}

.footer-logo-link {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.footer-logo {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.footer-logo-small-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 32px;
}

.footer-logo-small {
  width: 84px;
  height: 36px;
}

.footer-nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 32px;
}

.footer-link {
  font-weight: 600;
  line-height: 1.5;
  font-size: 16px;
  letter-spacing: 0.02em;
  display: block;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-links-and-copyright {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.footer-social {
  display: flex;
  justify-content: center;
  gap: 32px;
  padding-top: 24px;
  padding-bottom: 32px;
}

.footer-social-all-icon {
  width: 44px;
  height: 44px;
}

.footer-social-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-icon {
  height: 41px;
  width: 40px;
  fill: #f4f4fd;
}

.footer-copyright {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .footer-logo-and-text {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer-container {
    gap: 16px;
    display: flex;
    align-items: baseline;
  }

  .footer-logo-and-text {
    margin-right: 120px;
  }
}
